# Задание № 1

In [1]:
import pandas as pd

In [3]:
file = 'C:/Users/vokea/OneDrive/Рабочий стол/Mishin/Новая папка/ml-latest-small/ratings.csv'
data = pd.read_csv(file, sep=',')
data.head(2)

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100004 entries, 0 to 100003
Data columns (total 5 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100004 non-null  int64
 1   movieId    100004 non-null  int64
 2   rating     100004 non-null  float64
 3   timestamp  100004 non-null  int64
 4   class      100004 non-null  object
dtypes: float64(1), int64(3), object(1)
memory usage: 3.8+ MB

In [6]:
def rating(param):
    """ Будет возвращать значение в зависимости от рейтинга фильма """
    while True:
        try:
            if param <= 2:
                return f'низкий рейтинг'
            elif param <= 4:
                return f'средний рейтинг'
            elif param == 4.5 or param == 5:
                return 'высокий рейтинг'
        except:
            continue

In [7]:
data['class'] = data['rating'].apply(rating)

In [12]:
data.head(5)

   userId  movieId  rating   timestamp            class
0       1       31     2.5  1260759144  средний рейтинг
1       1     1029     3.0  1260759179  средний рейтинг
2       1     1061     3.0  1260759182  средний рейтинг
3       1     1129     2.0  1260759185   низкий рейтинг
4       1     1172     4.0  1260759205  средний рейтинг

# Задание № 2

In [22]:
file_ = 'C:/Users/vokea/OneDrive/Рабочий стол/Mishin/Новая папка/ml-latest-small/keywords.csv'
data_ = pd.read_csv(file_, sep=',')
data_.head(2)

         keyword     shows
0             вк  64292779
1  одноклассники  63810309

In [48]:
def geo_data_foo(param):
    found = False
    geo_data = {
        'Центр': ['москва', 'тула', 'ярославль'],
        'Северо-Запад': ['петербург', 'псков', 'мурманск'],
        'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']}
    for reg, town in geo_data.items():
        if param in town:
            return reg
            found = True
    if found == False:
        return 'undefined'

In [49]:
data_['region'] = data_['keyword'].apply(geo_data_foo)

In [50]:
data_.head(2)

         keyword     shows     region
0             вк  64292779  undefined
1  одноклассники  63810309  undefined

In [51]:
data_['region'].unique()

array(['undefined', 'Центр', 'Дальний Восток', 'Северо-Запад'],
      dtype=object)

In [57]:
## тест
param_ = 'хабаровск'
geo_data_foo(param_)

'Дальний Восток'